.navbar {
    /* background-color: #776A5F; */
    /* background-image: url('../../assets/picture/random_grey_variations_@2X.png');
    background-size: cover; */
    background-color:darkcyan;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),

    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    width: 100%;
    position: fixed;
    height: 15%;
    z-index: 1;
}
.bottomnav {
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),

    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),

    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    
    width: 100%;
    position: fixed;
    height: 15%;
    z-index: 1;
}

.home {
    background-color: darkcyan;
    border-radius: 0.5rem;
    filter: drop-shadow(-6px -6px 6px rgba(0, 0, 0, 0.60))
            drop-shadow(6px 6px 6px rgba(247, 247, 248, 0.16));
    border: darkgrey solid 2px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'IranSans';
    float: right;
    margin-right: 3%;
    margin-top: 0.5rem;
    padding: 5px;
}
.shop{
    text-decoration: none;
    text-align: center;
    color: cornsilk;
    font-size: 2rem;
    margin-left: 3rem;
    display: inline;
}
.navbarimg {
    background-color: darkcyan;
    border-radius: 0.5rem;
    filter: drop-shadow(-6px -6px 6px rgba(0, 0, 0, 0.60))
            drop-shadow(6px 6px 6px rgba(247, 247, 248, 0.16));
    border: darkgrey solid 2px;
    padding: 5px;
    margin-top: 0.5rem;
    display: inline;
    height: inherit;
}