.CartPage{
    display: grid;
    grid-row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.CartPageEmpty{
    align-items: center;
    text-align: center;
}
.font{
    color: #FFFFFF;
    font-family: "IranSans";
}
.image{
    width: 300px;
    height: 300px;
}
.button {
    background-color: darkcyan;
    border-radius: 2rem;
    filter: drop-shadow(-6px -6px 6px rgba(0, 0, 0, 0.60))
            drop-shadow(6px 6px 6px rgba(247, 247, 248, 0.16));
    border: darkgrey solid 2px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'IranSans';
    float: left;
}
.button:hover{
    background-color: rgb(19, 59, 59);
}

.hidden{
    display:none
}