.CardMain {
    filter: drop-shadow(-6px -6px 12px rgba(0, 0, 0, 0.16)) drop-shadow(6px 6px 12px rgba(247, 247, 248, 0.16));
    border-radius: 10px;
    border-color: black;
}

.CardMain img {
    width: 300px;
}